/* General styles */

/* navigation */
nav.top-bar { margin-bottom: 1em; background-color: #172952;}
nav.top-bar h1 { color: #fff; }

/* candidates table */
table.full-width-table { width: 100%; }
table.clickable-table-rows tbody > tr:hover { cursor: pointer; background: #eee !important; }

/* form components */
textarea.medium-height { height: 150px; }