<div class="row" ng-controller="AllCandidatesController">
    <div class="small-12 medium-9 columns">
        <h1>All Candidates</h1>
        <p><em>Click candidate details to edit content</em></p>
    </div>
    <div class="small-12 medium-3 columns">
        <button class="tiny radius right" ng-click="addCandidate()"><i class="fa fa-plus-circle"></i> Add New Candidate</button>
    </div>
    <div class="small-12 columns">
        <table class="full-width-table clickable-table-rows">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Practice</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidate in candidateDetails">
                    <td>{{ candidate.lastName }}</td>
                    <td>{{ candidate.firstName }}</td>
                    <td>{{ candidate.practice }}</td>
                    <td>{{ candidate.initialLevel }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form ng-submit="addCandidate()">
    <div class="row">
        <div class="small-12 columns">
            <h2>New Candidate Entry</h2>
        </div>
        <div class="small-12 medium-6 columns">
            <label for="firstName">First Name</label>
            <input type="text" ng-model="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="small-12 medium-6 columns">
            <label for="lastName">Last Name</label>
            <input type="text" ng-model="lastName" id="lastName" placeholder="Last Name">
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label for="practice">Practice</label>
            <select id="practice" ng-model="selectedPractice" ng-options="practice.id as practice.name for practice in practiceOptions">
                <option value="">Select a Practice</option>
            </select>
        </div>
        
        <div class="small-12 medium-6 columns">
            <label for="level">Level</label>
            <select id="level" ng-model="selectedLevel" ng-options="lvl.id as lvl.name for lvl in levelOptions">
                <option value="">Select a Level</option>
            </select>
        </div>
    </div>
        <div class="row">
        <div class="small-12 columns">
            <label for="summary">Summary</label>
        </div>
        <div class="small-12 columns">
            <textarea id="summary" class="medium-height" ng-model="summary" placeholder="Enter high-level overview of the candidate"></textarea>
        </div>
    </div>
        
    </div>
    
</form>




<!--
   <div class="small-12 columns" ng-controller="CandidateController">
    <div class="row">
        <div class="small-12 medium-9 columns">
            <h2><strong>{{ candidateDetails.firstName }} {{ candidateDetails.lastName }}</strong> | {{ candidateDetails.practice }}
                <a href="#" class="edit-profile-link">Edit {{ candidateDetails.firstName }}'s profile</a>
            </h2>
        </div>

        <div class="small-12 medium-3 columns">
            <button class="tiny radius right">Begin Technical Interview</button>
        </div>

    </div>
    
    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Level</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <p>{{ candidateDetails.initialLevel }}</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Summary</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <p>{{ candidateDetails.summary }}</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Skills</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <ul>
                <li ng-repeat="skills in candidateDetails.skills">{{ skills }}</li>
            </ul>
        </div>
    </div>
</div>
-->