<div class="small-12 columns" ng-controller="CandidateController">
    <div class="row">
        <div class="small-12 medium-9 columns">
            <h2><strong>{{ candidateDetails.firstName }} {{ candidateDetails.lastName }}</strong> | {{ candidateDetails.practice }}
                <a href="#" class="edit-profile-link">Edit {{ candidateDetails.firstName }}'s profile</a>
            </h2>
        </div>

        <div class="small-12 medium-3 columns">
            <button class="tiny radius right">Begin Technical Interview</button>
        </div>

    </div>
    
    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Level</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <p>{{ candidateDetails.initialLevel }}</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Summary</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <p>{{ candidateDetails.summary }}</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-2 columns">
            <p class="text-right"><strong>Skills</strong>
            </p>
        </div>
        <div class="small-12 medium-10 columns">
            <ul>
                <li ng-repeat="skills in candidateDetails.skills">{{ skills }}</li>
            </ul>
        </div>
    </div>
</div>