<div class="small-12 columns" ng-controller="EditProfileController">
    <div class="row">
        <div class="small-12 medium-9 columns">
            <form>
                <input type="text" name="firstName" placeholder="FirstName">
            </form>
        </div>
    </div>
</div>